@model DataLayer.Page

@{
    ViewBag.Title = "showNews";
}



             

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12 pull-left">

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">خانه </a></li>
                            <li class="breadcrumb-item"><a href="/">اخبار </a></li>
                            <li class="breadcrumb-item"><a href="#">دسته بندی  </a></li>
                            <li class="breadcrumb-item active">عنوان خبر در این ناحیه قرار میگیرد </li>
                        </ul>
                     
                        {
                        <section class="single-news border-radius">
                            <header><h2>@Model.Title </h2> <span> <i class="fa fa-calendar"></i>  انتشار : @Model.CreatDate.toshamsi()</span></header>
                            <article>
                                <p>
                                    <img class="border-radius" src="/pageimge/@Model.Imagename" class="thumbnail" style="  margin:10px  auto; max-width:100%">
                                    </p>
                                    <p>
@Model.ShortDiscription
                                </p>
                                <p >
                                    @Model.Text
                                </p>
                            </article>
                        </section>
                        
                        <div class="keywords border-radius">

                            @foreach (var item in Model.tags.Split(','))
                            {
                                <a href=""> @item </a>
                            }
                        </div>


                        <section class="comment-layer">
                            <header> <i class="fa fa-comments"></i><h5> دیدگاه کاربران </h5><span> @Model.camment_Pages.Count </span> </header>
                            <ul id="postid">
                        @Html.Action("showcomment")
                            
                       
                            </ul>


                            <h6> شما هم دیدگاه خود را ارسال کنید </h6>
                            <form class="comment-form" action="" method="post">
                                <div>
                                    <input placeholder=" نام و نام خانوادگی" type="text"id="txtname">
                                    <input placeholder=" ایمیل خود را وارد نمایید " type="email"id="txtemail">
                                 
                                </div>
                                <textarea placeholder=" متن دیدگاه"id="txtcomment"> </textarea>
                                <input value="ثبت دیدگاه ارزشمند شما " type="button" onclick="addcoment()">
                            </form>
                        </section>
                        <script>
                            

                            function addcoment() {
                                $.ajax({
                                    url: "/news/AddCommenet/" +@Model.PageID,
                                    type: "get",
                                    data: { name: $("#txtname").val(), email: $("#txtemail").val(), comment: $("#txtcomment").val() }
                                }).done(function (result) {
                                    $("#postid").html(result);
                                    $("#txtname").val("");
                                    $("#txtemail").val("");
                                    $("#txtcomment").val("");
                                });
                            }

                        </script>


                    </div>


                </div>